{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>
    Formations intensives et diplômantes aux métiers du numérique
</h1>
 <p>
    En bootcamp ou en alternance, nos formations sont assurées par des formateurs professionnels, experts dans leur domaine et qui continuent d’exercer leur métier en tant que consultant. Les formations garantissent un apprentissage très opérationnel, axé à 90 % sur la pratique. Les apprenants développent alors des compétences techniques, transverses et relationnelles mises à jour sur la culture numérique, les technologies, les outils et les méthodes de travail.
 </p>
{% endblock %}
