{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
<div class="container">

	<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
		<div class="col-10 col-sm-8 col-lg-6">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSw5_kJtMIynZxYn0jkagpaAZXwcO6cE0tI2w&usqp=CAU" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">

		</div>
		<div class="col-lg-6">
			<h1 class="display-5 fw-bold lh-1 mb-3">Le site du futur</h1>
			<p class="lead">Pensez au temps que vous passez à utiliser les toilettes sur votre temps libre... Alors que vous pourriez le faire au boulot !</p>
			<div class="d-grid gap-2 d-md-flex justify-content-md-start">
				<button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Souscrire à un abonnement</button>
				<button type="button" class="btn btn-outline-secondary btn-lg px-4">Dénoncer le webmaster au MEDEF</button>
			</div>
		</div>
	</div>

	<!-- Content here -->
</div {% endblock %}
