{% extends 'base.html.twig' %}

{% block title %}Hello AccessDeniedController!{% endblock %}

{% block body %}
    <div class="alert alert-danger" role="alert">
        <b>Oups </b> 
    </div>
    <img src="https://i.skyrock.net/8713/78948713/pics/3010388975_1_7_HqwCczYO.gif">
{% endblock %}
